{% extends "main/base.html" %}

{%block title %}
Login 
{% endblock%}

{% load crispy_forms_tags %}
{%block content %}
<div class="row justify-content-md-center">

    
    <form method="POST" class="form-group p-5 col-4 rounded border " style="background-color: rgba(255, 255, 255, 0.15);">
        {% csrf_token%}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Login</button>
        <p>Don't have account? Register <a href="/register">here</a></p>
    </form>
</div>
{% endblock%}
