{% extends 'main/base.html' %}


{%block content%}
<div class="row w-100 mb-2">
    {% for x in rounds%}
    <div class="col border-left border-right">
        <h3 class="text-white text-center align-top">Runda {{x}}</h3>
    </div>
    {%endfor%}
</div>
<div class=" d-flex flex-row flex-fill">
    {% for x in rounds%}
    <div class=" m-1 pr-3 d-flex flex-column flex-fill justify-content-around">
        
        {% for match in matches %}
        {% if x == match.round_number %}
        <div class="m-1 d-flex">
            {% if match.score1 != match.score2%}
            <div class=" card w-100 border border-success" style="height: auto; background-color: rgba(0, 45, 0, 0.85);">
                {%elif match.score1byp1 != match.score1byp2 and match.score1byp1 != Null or match.score2byp1 != match.score2byp2 and match.score2byp2 != Null %}
                <div class=" card w-100 border-danger" style="height: auto; background-color: rgba(45, 0, 0, 0.85);">
                    {%else%}
                    <div class=" card w-100 border" style="height: auto; background-color: rgba(0, 0, 0, 0.75);">
                        {%endif%}
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <form action="match_{{match.id}}">
                                <button class="btn btn btn-success w-100 h-100" type="submit"><p>{{match.match_number}}</p></button>
                            </form>
                        </div>
                        
                        <div class="col-10">
                            <div class="row" style="height: 10px">
                                    <div class="col-10">
                                {% if match.score1 > match.score2%}
                                        <p class="text-success">{{match.player1.username}}</p>
                                        {%else%}
                                        <p>{{match.player1.username}}</p>
                                        {%endif%}
                                    </div>
                                    <div class="col-2 text-right">
                                        {% if match.score1 > match.score2%}
                                        <p class="text-success">{{match.score1}}</p>
                                        {%else%}
                                        <p class="text-white">{{match.score1}}</p>
                                        {%endif%}
                                    </div>
                            </div>
                                <hr class="bg-white">
                                <div class="row" style="height: 10px">
                                    <div class="col-10">
                                        {% if match.score2 > match.score1%}
                                        <p class="text-success">{{match.player2.username}}</p>
                                        {%else%}
                                        <p>{{match.player2.username}}</p>
                                        {%endif%}
                                    </div>
                                    <div class="col-2 text-right">
                                        {% if match.score2 > match.score1%}
                                        <p class="text-success">{{match.score2}}</p>
                                        {%else%}
                                        <p class="text-white">{{match.score2}}</p>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {%endfor%}

        </div>
        
        {%endfor%}
    </div>

    {% endblock %}